/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

header .navbar .container a {
  font-size: 0.9em;
  color: black; }
  header .navbar .container a img {
    width: 80px;
    height: 80px; }

header .container .row .col-md-5 {
  padding: 4.2vmin 1vmin; }
  header .container .row .col-md-5 img {
    width: 100%; }

header .container .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin; }
  header .container .row .col-md-7 h1 {
    font-size: 9vmin;
    font-weight: bold;
    padding: 0.1em 0em; }
  header .container .row .col-md-7 p {
    padding: 1vmin 5vmin; }

body {
  background: #bccfd5;
  background: linear-gradient(to top, #f7fafa, #bccfd5); }

.somosOcassio {
  padding-top: 10px;
  padding-bottom: 100px; }
  .somosOcassio .row .team img {
    opacity: 0.9;
    width: 90%;
    border-radius: 0.2em; }
  .somosOcassio .somosOcassio__text {
    padding-top: 50px; }

.ofrecemos .ofrecemos__box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
  padding-bottom: 20px; }
  .ofrecemos .ofrecemos__box .ofrecemos__item {
    box-shadow: 5px 5px 5px #777;
    height: 310px;
    width: 335px;
    padding: 50px 35px 10px;
    background: #f7fafa;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    left: 50px;
    right: 50px;
    text-align: center; }

footer {
  background-color: black; }
  footer li {
    list-style: none; }
