/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header,section{
    overflow-x:hidden;
}

header a{
    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    color: black;
}

header .row .col-md-5{
    padding: 4.2vmin 1vmin;
}
header .row .col-md-7{
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}
/* IMAGEN */
header .row .col-md-5 img{
    width: 100%;
}
header .container .col-md-7 h1{
    font-size: 9vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}
header .container .col-md-7 p{
    padding: 1vmin 5vmin;
}

h1, h2, .btn{
    font-family: 'Cinzel', serif;

    
}

p, button, h3{
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
}
/* BOTON */
.btn{
    border-radius: 30px;
}
.btn-light{
  color: black;
  background-color:  #f7fafa;
  border-color:  #f7fafa;
  transition-duration: 0.5s;
  transition: 1s ease-in-out;
}
.btn-light:hover{
  color:  white ;
  background-color: #1d5152 ;
  border-color: #1d5152;
  box-shadow: 5px 5px 5px #777;
  transform: scale(1.1);
}
/* Degradado FONDO */
.degradado{
    background: #bccfd5;
    background: linear-gradient(to top,  #f7fafa ,  #bccfd5);
}
.degradado-proyectos{
  background:  #297384;
  background: linear-gradient(to top,   #f7fafa ,  #bccfd5);
}
/* SECCIÓN SOMOS OCASSIO */
.somosOcassio{
    padding-top: 10px;
    padding-bottom: 100px;
}
.somosOcassio__text{
  padding-top: 50px;
}
.somosOcassio .row .team img{
    opacity: 0.9;
    width: 90%;
    border-radius: 0.2em;
}

/* Sección Ofrecemos */
.ofrecemos__box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.ofrecemos__item{
  box-shadow: 5px 5px 5px #777;
}
.ofrecemos__item {
  height: 310px;
  width: 335px;
  padding: 50px 35px 10px;
  background:  #f7fafa;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  left: 50px;
  right: 50px;
  text-align: center;
}

/* sección INTEGRANTES  de la empresa */
.mision{
  padding-top: 80px;
  padding-bottom: 50px;
}
.mision .card{
  border-radius: 30px;
  height: 260px;
  box-shadow: 5px 5px 5px #777;
  margin-bottom: 15px;
}
.integrantes {
    color:  #083b42;
    padding: 50px;
  }
  .integrantes__titulo{
    display: flex;
    justify-content: center;
    font-size: 30px; 
    padding-bottom: 30px;
  }
  .integrantes h3{
    font-family: 'Cinzel', serif;
  }
  .integrantes__box {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, auto));
   grid-auto-rows: minmax(200px,auto);
   gap: 25px;
   justify-items: center;
  }
  .integrantes__persona img {
    width: 330px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
  }

/* SECCIÓN DE SERVICIOS */
.servicios{
  background: #cbd1d2;
}
.servicios .servicios__titulo h1{
  text-align: center;
  margin-top: 20px;
}
.servicios__container{
  max-width: 1300px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.servicios__box{
  width: 300px;
  height: 250px;
  background: #fff;
  margin: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.servicios__box:hover{
  transform:scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba( 0, 0, 0, 0.5);
}
.servicios__box i{
  font-size: 60px;
}
.servicios__box h2{
  font-size: 14px;
  margin-top: 20px;

}
/* SECCION PROYECTOS */
.estructuras__foto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../img/estructuras.jpg);
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .estructuras__foto h1 {
    color: white;
    font-size: 40px;
  }
  .estructuras__proyectos{
   padding-left: 55px;
   padding-bottom: 50px;
  }
  .estructuras__titulo {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  /* GRID DE SECCIÓN PROYECTOS*/
  .estructuras__box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, auto));
    grid-auto-rows: minmax(200px,auto);
    gap: 30px;
    justify-items: center;
  }
  .estructuras__box img {
    width: 400px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  /* CONTACTO*/
.form__container {
    padding-top: 20px;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
  }
  .form__titulo {
    text-align: center;
    font-size: 40px;
  }
  form{
    width: 600px;
    margin: auto;
    background: rgba(0, 0, 0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
  }
  input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }
  textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
  }
  /* FOOTER */
  footer{
    background-color: black;
  }
 footer .container .row li{
  list-style: none;
 } 

 @media (max-width: 600px) {
   form{
    width: 100%;
   }
 } 

 