// QUIENES
@media screen and (max-width:450px) {
  main{
    .integrantes{
      padding: 0;
      .integrantes__box{
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        .integrantes__persona{
          img{
           width: 250px;
          }
        }
      }
    }
}
}
// PROYECTOS
@media screen and (max-width:1000px) {
  .estructuras{
    .estructuras__proyectos{
      .estructuras__box{
        grid-template-columns: repeat(4, 1fr);
        
        .box__item:nth-child(1){
          grid-column-start: span 2;
        }
        .box__item:nth-child(2){
          grid-column-start: span 2;
        }
        .box__item:nth-child(3){
          grid-column-start: span 2;
        }
        .box__item:nth-child(4){
          grid-column-start: span 2;
        }
        .box__item:nth-child(5){
            grid-column-start: span 2;
        }
        .box__item:nth-child(6){
          grid-column-start: span 2;
      }
      }
    }
  } 
}
@media screen and (max-width:700px) {
  .estructuras{
    .estructuras__proyectos{
      .estructuras__box{
        grid-template-columns: repeat(1, 1fr);
        
        .box__item:nth-child(1){
          grid-column-start: span 1;
        }
        .box__item:nth-child(2){
          grid-column-start: span 1;
        }
        .box__item:nth-child(3){
          grid-column-start: span 1;
        }
        .box__item:nth-child(4){
          grid-column-start: span 1;
        }
        .box__item:nth-child(5){
            grid-column-start: span 1;
        }
        .box__item:nth-child(6){
          grid-column-start: span 1;
      }
      }
    }
  } 
}
// CONTACTO
@media screen and (max-width: 600px) {
    .form__container{
        form{
          width: 100%; 
        } 
     }
 }
