.estructuras{
    .estructuras__foto{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 90vh;
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url(../img/estructuras.jpg);
      
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        h1{
            color: white;
            font-size: 40px;
        }
    }
    .estructuras__proyectos{
        .estructuras__titulo{
            display: flex;
            justify-content: center;
            font-size: 40px;
            padding: 30px 0px 10px;
        }
        .estructuras__box{
           display: grid;
           grid-template-columns: repeat(4, 1fr);
           grid-template-rows: 300px;
           padding: 70px;
           grid-gap: 20px;
           
           .box__item{
               position: relative;
               .box__title{
                position: absolute;
                bottom: 0;
                font-family: $letraTitulos;
                font-weight: bold;
                color: $integrantesColor;
                font-size: 17px;
               }
               .box__img{
                   width: 100%;
                   height: 100%;
                   object-fit: cover;
               }
            }
            .box__item:nth-child(2){
                grid-column-start: span 2;
            }
            .box__item:nth-child(5){
                grid-column-start: span 2;
            }
        }
    }
}