main{
    .mision{
        padding-top: 80px;
        padding-bottom: 50px;
        .container{
            .card{
                border-radius: 30px;
                height: 260px;
                box-shadow: 5px 5px 5px #777;
                margin-bottom: 15px;
                }
        }
        
    }
    .integrantes{
        color:  #083b42;
        padding: 50px;
        .integrantes__titulo{
            display: flex;
            justify-content: center;
            font-size: 30px; 
            padding-bottom: 30px;
            h3{
                font-family: $letraTitulos;
            }
        }
        .integrantes__box{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, auto));
            grid-auto-rows: minmax(200px,auto);
            gap: 25px;
            justify-items: center;
            .integrantes__persona{
                img{
                    width: 330px;
                    height: 280px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
    }
}