.servicios{
    .servicios__titulo{
        h1{
            text-align: center;
            margin-top: 20px;
        }
    }
    .servicios__container{
        max-width: 1300px;
        margin: auto;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        .servicios__box{
            width: 319px;
            height: 250px;
            background: #fff;
            margin: 1.5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            &:hover{
                transform:scale(1.1);
                box-shadow: 0px 0px 30px -15px rgba( 0, 0, 0, 0.5);
            }
            i{
                font-size: 60px;
            }
            h2{
                font-size: 14px;
                margin-top: 20px;
            }
        }
    }
}